{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}
<style>
  .post-content img {
    margin: 1rem auto;
  }
  .logo a img {
    border-radius: 0;
    margin-inline-end: 0;
  }
  .logo-switches {
    display: none;
  }
  @media screen and (max-width: 502px) {
    .nav {
      justify-content: center;
    }
  }
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HC8JDGL923"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HC8JDGL923');
</script>
